.ams-main-screen {
  position: absolute;
  background: url("./../images/bg.png") no-repeat center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  width: 1920px;
  height: 100%;
  .bg {
    background: url("./../images/bg.png") no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 100%;
  }
  .ams-main {
    width: calc(100% - 52px);    
    height: 100%;
    margin: 0 auto;
  }
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .ams-main-top {
    width: 100%;
    height: 94px;
    line-height: 94px;
    position: relative;
    top: -16px;
    #clock {
      font-family: 'Share Tech Mono', monospace;
      color: #ffffff;
      text-align: center;
      position: absolute;
      right: -6rem;
      bottom: 0;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: #daf6ff;
      text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
      .time{
        font-size: 22px;
        padding: 5px 0;
        margin-left: 15px;
      }
      .date{
        font-size: 22px;
        height: 50px;
        line-height: 50px;
        margin: 0;
      }
      .school{
        font-size: 22px;
        height: 10px;
        margin: 0;
        line-height: 10px;
      }
    }
  }
  .ams-img {
    width: 100%;
    height: 100%;
  }
  .ams-li {
    margin-right: 190px;
  }
  img {
    width: 185px;
    height: 67px;
  }
  .ams-p-text {
    font-size: 46px;
    font-family: SourceHanSansCN-Medium;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #ffffff;
    opacity: 0.8;
    margin-left: 19px;
    margin-right: 19px;
  }
  ul {
    width: 100%;
    height: 100%;
    line-height: 100%;
    padding-left: 0px;
    text-align: center;
    padding-top: 14px;
  }
  li {
    float: left;
    list-style-type: none;
  }
  .ams-i {
    width: 254px;
    height: 34px;
  }
  .ams-main-center {
    position: relative;
    top: -20px;
  }
  .ams-left {
    width: 600px;
    height: 100%;
    display: inline-block;
  }
  .left-top10 {
    width: 596px;
    height: 450px;
    border: 2px solid #219be6;
    border-radius: 3px;
    margin-bottom: 14px;
  }
  .top10-center {
    width: 580px;
    height: 100%;
    margin: 0 auto;
  }
  .top10-text {
    color: #fff;
    text-align: right;
  }
  .top10-span {
    text-align: left;
    color: #2991d0;
    display: inline-block;
    width: 510px;
  }
  .left-trend {
    width: 596px;
    height: 302px;
    border: 2px solid #219be6;
    border-radius: 3px;
  }
  .top10-table {
    width: 100%;
    height: 420px;
    color: #fff;
    .table-div {
      margin-top: 12px;
    }
    td {
      padding-left: 16px;
      width: 64px;
      div {
        width: 78px;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  table {
    width: 100%;
  }
  thead {
    font-size: 16px;
  }
  tbody {
    height: 32px;
    width: 100%;
  }
  .border {
    width: 100%;
    height: 34px;
    background: url("./../images/border.png") no-repeat;
    background-size: cover;
  }
  .ams-right {
    .right-ul {
      width: 100%;
      height: 124px;
      border: 2px solid #219be6;
      border-radius: 3px;
      position: relative;
      top: -20px;
      ul {
        width: 100%;
        height: 128px;
        padding-top: 8px;
      }
      li {
        width: 150px;
        .right-name {
          color: #fff;
        }
        .right-number {
          color: #fff;
          margin-top: 50px;
          font-size: 18px;
        }
      }
    }
    .right-school {
      height: 302px;
      width: 746px;
      border: 2px solid #219be6;
      border-radius: 3px;
    }
    .marign-top {
      margin-top: 14px;
    }
  }
  .right-temperature {
    width: 454px;
    height: 252px;
    border: 2px solid #219be6;
    border-radius: 3px;
  }
  .right-healthy {
    width: 454px;
    height: 352px;
    border: 2px solid #219be6;
    border-radius: 3px;
    margin-top: 14px;
  }
  .ams-bottom-text{
    color: #fff;
    text-align: center;
    margin-top: -24px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.5;
  }
}
